public/pages/home.html
<div class="home-page"><div class="text-wrap"><h1>Alona Shot</h1><h2>Junior Web Developer</h2></div></div><div class="about-page"><div class="about-me"><span>I studied in HackerU for Web Master, we learned HTML, CSS, JavaScript and PHP.</span><span>I graduated in January 2016, during my studies I started to experience in building landing pages, mailers, and some JS games.</span><br/><span>After the graduation I started working in binary options company, I was doing re-design to they old site.</span><span>The site was built on WardPress and I worked with technologies such as JavaScript, PHP,</span><span>Photoshop for cutting PSD files, Bootstrap and Foundation for the responsiveness of the pages</span><span>and Git for version control.</span><br/><span>I have a hand on experience with AngularJS 1, NodeJS, MySQL, and MongoDB for DataBase, Gulp and SASS, CSS animation.</span><br/><span>I willing to learn more technologies and elevate those already familiar with.</span><br/><span>I'm looking for a Front-End position, that will be a challenge for me and I will learn and grow professionally on it.</span></div><div class="download"><a href="../img/Alona_CV_EN2016.doc" download="">Download CV</a></div></div><div class="scroll"></div>

src/pages/home.pug
.home-page
    .text-wrap
        h1 Alona Shot
        h2 Junior Web Developer
.about-page
    .about-me
        span I studied in HackerU for Web Master, we learned HTML, CSS, JavaScript and PHP.
        span
            | I graduated in January 2016, during my studies I started to experience in building landing pages, mailers, and some JS games.
        br
        span
            | After the graduation I started working in binary options company, I was doing re-design to they old site.
        span
            | The site was built on WardPress and I worked with technologies such as JavaScript, PHP,
        span
            | Photoshop for cutting PSD files, Bootstrap and Foundation for the responsiveness of the pages
        span and Git for version control.
        br
        span
            | I have a hand on experience with AngularJS 1, NodeJS, MySQL, and MongoDB for DataBase, Gulp and SASS, CSS animation.
        br
        span I willing to learn more technologies and elevate those already familiar with.
        br
        span
            | I'm looking for a Front-End position, that will be a challenge for me and I will learn and grow professionally on it.
    .download
        a(href='../img/Alona_CV_EN2016.doc', download='') Download CV
.scroll
