src/index.pug
doctype html
html(lang='en')
    head
        meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
        title Alona Shot Portfolio
        script(src='bower_components/angular/angular.min.js')
        script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='bower_components/angular-animate/angular-animate.min.js')
        script(src='bower_components/angular-sanitize/angular-sanitize.min.js')
        <!-- inject:css -->
        <!-- endinject -->
    body(ng-app='myApp', ng-controller='mainCtrl')
        header
            .logo-wrap
                .logo
                    a(ui-sref='home') < SHOT >
                .nav-wrap
                    ul
                        li
                            a(ui-sref='portfolio') Portfolio
                        li
                            a(ui-sref='contact') Contact
        .main-content(ui-view='')
        <!-- inject:js -->
        <!-- endinject -->

public/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"><title>Alona Shot Portfolio</title><script src="bower_components/angular/angular.min.js"></script><script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script><script src="bower_components/angular-animate/angular-animate.min.js"></script><script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script><!-- inject:css -->
<link rel="stylesheet" href="styles/style-929058a11b.min.css">
<link rel="stylesheet" href="vendor_styles/bootstrap.min.css">
<!-- endinject --></head><body ng-app="myApp" ng-controller="mainCtrl"><header><div class="logo-wrap"><div class="logo"><a ui-sref="home">< SHOT ></a></div><div class="nav-wrap"><ul><li><a ui-sref="portfolio">Portfolio</a></li><li><a ui-sref="contact">Contact</a></li></ul></div></div></header><div class="main-content" ui-view=""></div><!-- inject:js -->
<script src="scripts/scripts-bbd152ec4f.min.js"></script>
<!-- endinject --></body></html>
